$color-green: rgb(18 108 101);
$color-green-light: rgb(160 241 123);
$color-white: rgb(255, 255, 255);
$color-black: rgb(17, 17, 22);
$color-blue: rgb(0, 65, 217);
$color-blue-dark: rgb(0 25 98);
$color-blue-light: rgb(92 194 243);
$color-orange: rgb(208 60 11);
$color-purple-light: #e6a7ff;
$color-purple-dark: #b25cfc;
$color-grey-med: rgb(205, 205, 211);
$color-grey-med-2: rgb(143, 143, 149);
